@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: hsl(217, 54%, 11%);
    --main-card-bg-color: hsl(216, 50%, 16%);
    --main-heading-color: hsl(0, 0%, 100%);
    --main-text-color: hsl(215, 51%, 70%);
    --main-crypto-color: hsl(178, 100%, 50%);
    --main-overlay-color: hsl(178, 100%, 50%, 0.5);
    --main-line-color: hsl(215, 32%, 27%);
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
    line-height: 1.2;
}

h1 {
    color: var(--main-heading-color);
    font-weight: 600;
    font-size: 1rem;
}

h1:hover {
    color: var(--main-crypto-color);
    cursor: pointer;
}

h2 {
    color: var(--main-text-color);
    font-size: 1rem;
    font-weight: 400;
}

span {
    color: var(--main-heading-color);
}

span:hover {
    color: var(--main-crypto-color);
    cursor: pointer;
}

p {
    color: var(--main-text-color);
    font-size: 14px;
    font-weight: 300;
}

.container {
    max-width: 1440px;
    margin: 30px;
}

.crypto-card {
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--main-card-bg-color);
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
    gap: 10px;
    width: 300px;
}

.image-equil {
    position: relative;
}

.img-overlay {
    display: none;
    background: var(--main-overlay-color);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.img-overlay .eye {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 50px;
}

.image-equil img {
    display: block;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
}

.image-equil:hover .img-overlay {
    display: block;
    cursor: pointer;
}

.crypto-note {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.eth {
    color: var(--main-crypto-color);
    font-weight: 600;
    display: flex;
}

.clock {
    display: flex;
    font-weight: 600;
}

.icon {
    height: 15px;
    margin-right: 5px;
}


hr {
    border: 0;
    height: 1px;
    background-color: var(--main-line-color);
}

.profile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.profile-img {
    border: 2px solid var(--main-text-color);
    border-radius: 50%;
    height: 30px;
}

.attribution {
    position: absolute;
    top: 200px;
    left: 95%;
    color: #54bfb5;
    font-size: 11px;
    text-align: center;
    writing-mode: vertical-rl;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}